*{
    background-color: #003e94;
    /*Komentar*/
    }
    

h1{
    color: hsl(0, 100%, 50%);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px #fffb00;/*Complementar to background-color*/
}
    
#citat{
    border: dotted red 6px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: yellow;
    
        
}

p{
    text-indent: 3em;
    text-align: justify;
}

    
    
    
.nav-linkovi{
    color: #fffb00;
    display: inline-block;
    background: radial-gradient(circle, rgba(128,255,128,1) 0%, rgba(6,110,58,1) 100%);
    text-transform: capitalize;
    text-align:center;
    font-size: 21px;
    color:black;
    margin: 30px;
    padding: 10px;  
        
}